
.legendContainer {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.legendColomn {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.legendTitle {
    font-size: 14px;
    font-weight: 700;

}

.legendRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.legendMinMax {
    font-size: 12px;
    font-weight: 500;
}

.legendSize {
    width: 20px;
    height: 20px;
    background-color:darkgray ;
    border-radius: 200px;
}

.legendColor {
    width: 80px;
    height: 16px;
    background-color:darkgray ;
}

.tooltipInteractive {
    position: relative;
    background-color: #ffffff9e;
    width: min-content;
    white-space: nowrap;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    font-size: 14px;
}