@import '../../GlobalStyles.module.css';

.container {
    width: 100%;
    border-radius: 5px;
    background-color: var(--blue);
    color: var(--textColor1);
    padding: 4px 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}