@import '../../GlobalStyles.module.css';

.container {
    position: relative;
    display: flex;
}

.customInput {
    /* width: calc(100% - 18px); */
    border-radius: 5px;
    border: 1px solid var(--lightgray);
    cursor: pointer;
    padding: auto;
    height: 30px;
}

.customInput .react-datepicker__calendar-icon  {
    background-color: blue;
}